*{
    margin: 0;
    padding: 0;
} 
body {
    background-color: #294669;
    text-align: center;
}
.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.titel{
    padding-top: 4rem;
    font-family: 4rem;
}
.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem (0,0,0,0.2);
    font-size: 7vmin;
    background-color: aliceblue;
    color: #000;

}
.reset{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #37353E;
    color: aliceblue;

}
.new-button{
    padding: 1rem;
    font-size: 1.25rem;
    border-radius: 0.5rem;
    border: none;
    background-color: #37353E;
    color: aliceblue;
}
.msg{
    color: antiquewhite;
    font-size: 7vmin;
}
.msg-container{
    height:100vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:4rem;
  
}
.hide{
    display: none;
}
